<div class="group">
  <div class="group__name">testGroup</div>
  <div class="group__message">画像が投稿されています</div>
</div>

<div class="group">
  <div class="group__name">testGroup2</div>
  <div class="group__message">よろしくお願いします</div>
</div>
