<div class="message">
  <div class="upper-message">
    <div class="upper-message__user-name">testName</div>
    <div class="upper-message__date">2018/10/26 04:13</div>
  </div>
  <div class="lower-message">
    <p class="lower-message__content">はじめまして</p>
  </div>
</div>

<div class="message">
  <div class="upper-message">
    <div class="upper-message__user-name">testName</div>
    <div class="upper-message__date">2018/10/26 04:14</div>
    </div>
  <div class="lower-message">
    <p class="lower-message__content">よろしくお願いします</p>
  </div>
</div>
